body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.highlight {
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.feature-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.feature-list li {
    margin-bottom: 10px;
}

.feature-list li::before {
    content: "\2022"; /* Bullet point */
    color: burlywood;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.logo {
    display: block;
    margin: 0 auto 20px; /* Centra el logo horizontalmente y añade espacio inferior */
    width: 150px; /* Ajusta el ancho del logo según sea necesario */
}


/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
*/
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.highlight {
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.feature-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.feature-list li {
    margin-bottom: 10px;
}

.feature-list li::before {
    content: "\2022"; /* Bullet point */
    color: #ffc107;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
