body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(251, 251, 251, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.social-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.social-list img {
    display: block;
    margin: 0 auto 50px; /* Centra el logo horizontalmente y añade espacio inferior */
    width: 65px; /* Ajusta el ancho del logo según sea necesario */
    background-color: transparent;
}

.social-list li {
    display: inline-block;
    margin-right: 10px;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-list li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: blue;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-list li a:hover {
    background-color: #555;
}


.logofacebook{
        display: block;
        margin: 0 auto 50px; /* Centra el logo horizontalmente y añade espacio inferior */
        width: 150px; /* Ajusta el ancho del logo según sea necesario */
        background-color: transparent;

}

.logoinstagram{
    display: block;
    margin: 0 auto 50px; /* Centra el logo horizontalmente y añade espacio inferior */
    width: 100px; /* Ajusta el ancho del logo según sea necesario */
    background-color: transparent;
}